.arrangement-track-container {
    display: flex;
    flex: 1 1 auto;
    font-size: 12px;
    border-top: 1px var(--vscode-input-border) solid;
    transition: all 0.2s;

    &:not(.linked) {
        & > .controls-container {
            & > .name {
                cursor: grab;
            }
        }
    }
    &.moving {
        position: absolute;
        transition: none;
        z-index: 1;
        width: 100%;
    }

    &:last-child {
        border-bottom: 1px var(--vscode-input-border) solid;
    }

    &.tiny {
        flex: 0 0 20px;
        & > .controls-container {
            gap: 2px;
            flex-direction: row;
            & > .name {
                background-color: rgba(255, 255, 255, 0.5);
            }
            & > .empty {
                display: none;
            }
            & > .pan {
                display: none;
            }
            & > .meter {
                flex: 1 1 auto;
                margin: auto 0px;
            }
            & > .controls {
                gap: 2px;
                height: unset;
            }
            & span {
                display: none;
            }
            & vscode-button {
                width: 10px;
                height: 10px;
            }
        }
    }
    &:not(.tiny) {
        & > .controls-container {
            & vscode-button {
                width: 25px;
                height: 100%;
                display: flex;
                flex-direction: column;
                & > span {
                    height: 100%;
                }
            }
        }
    }

    &.small {
        flex: 0 0 100px;
        height: 100px;
    }
    &.medium {
        flex: 0 0 160px;
        height: 160px;
    }
    &.large {
        flex: 0 0 300px;
        height: 300px;
    }
    &.huge {
        flex: 0 0 600px;
        height: 600px;
    }
    & > .controls-container {
        flex: 0 0 calc(var(--track-control-width) - 8px);
        padding: 4px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        border-right: 1px var(--vscode-input-border) solid;
        border-left: 1px var(--vscode-input-border) solid;
        overflow: hidden;

        & > .name {
            display: flex;
            padding: 2px;
            gap: 2px;
            flex: 0 0 auto;
            & > span {
                flex: 0 1 auto;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &.codicon {
                    font-size: 12px;
                    flex: 0 0 auto;
                    margin: auto 0px;
                    opacity: 0.5;
                }
            }

            &:hover > span.codicon {
                opacity: 1;
            }
        }

        & > .empty {
            flex: 1 1 auto;
        }
        & > .pan {
            flex: 0 0 10px;
            width: 100%;
            background-color: var(--vscode-panel-background);
            position: relative;
            & > .pan-indicator {
                background-color: var(--vscode-editor-foreground);
                height: 100%;
                min-width: 1px;
                position: absolute;
            }
        }
        & > .meter {
            flex: 0 1 auto;
            max-height: 10px;
            height: 10px;
            display: flex;
            position: relative;
        }
        & > .controls {
            display: flex;
            flex: 0 0 20px;
            gap: 4px;
            height: 20px;

            & > div {
                display: flex;
            }
            & span {
                font-size: 12px;
            }

            & .linked > vscode-button {
                border: 1px var(--vscode-editorInfo-foreground) solid;
            }
            & .linked.active > vscode-button {
                background-color: var(--vscode-editorInfo-foreground);
            }

            & .mute > vscode-button {
                border: 1px var(--vscode-editorError-foreground) solid;
            }
            & .mute.active > vscode-button {
                background-color: var(--vscode-editorError-foreground);
            }

            & .solo > vscode-button {
                border: 1px var(--vscode-editorWarning-foreground) solid;
            }
            & .solo.active > vscode-button {
                background-color: var(--vscode-editorWarning-foreground);
            }

            & .gain-input {
                background-color: var(--vscode-minimapSlider-activeBackground);
                flex: 1 0 auto;
                text-align: end;
            }
        }
        & .gain-slider {
            position: absolute;
            display: block;
            width: 8px;
            height: 100%;
            background-color: var(--vscode-minimapSlider-background);
            border: 1px solid var(--vscode-editor-foreground);
            border-radius: 4px;
            cursor: grab;
            margin-left: -5px;
            margin-top: -1px;
        }
    }
    & > vscode-progress-ring {
        margin: auto;
    }
    & > .waveform {
        position: relative;
        flex: 1 1 auto;
        display: flex;
        cursor: text;

        & > canvas {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}
