div.meter-container {
    flex: 1 1 auto;
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-width: 50px;
    height: 100%;

    & > canvas {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--vscode-panel-background);
    }

    &.horizontal.meter-container-show-ruler {
        & > canvas:first-child {
            height: calc(100% - 20px);
            background-color: var(--vscode-panel-background);
        }
        & > canvas:last-child {
            height: 20px;
            background-color: transparent;
        }
    }
    &.vertical.meter-container-show-ruler {
        display: flex;

        & > canvas:first-child {
            width: calc(100% - 30px);
            background-color: var(--vscode-panel-background);
        }
        & > canvas:last-child {
            width: 30px;
            background-color: transparent;
        }
    }
}
