.audio-editor-container div.editor-main-visualizer-component {
    & > div.module-using-canvas-container {
        min-height: 100px;

        & > .module-using-canvas-background {
            display: block;
            position: absolute;
            height: 100%;
            width: calc(100% - var(--visualizer-right-spacing));
            background-color: var(--vscode-panel-background);

            & > canvas {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        & > div.playhead-container, & > div.cursor-container {
            display: block;
            position: absolute;
            pointer-events: none;
            width: calc(100% - var(--visualizer-right-spacing));
            height: 100%;
            overflow: hidden;

            & > div.playhead {
                display: block;
                position: absolute;
                width: 0px;
                height: 100%;
                border-right: 1px var(--vscode-minimap-findMatchHighlight) dashed;
            }

            & > div.cursor-x {
                display: block;
                position: absolute;
                width: 0px;
                height: 100%;
                border-right: 1px var(--vscode-editor-foreground) dashed;
            }

            & > div.cursor-y {
                display: block;
                position: absolute;
                width: 100%;
                height: 0px;
                border-bottom: 1px var(--vscode-editor-foreground) dashed;
            }
        }

        & > .module-using-canvas-vertical-ruler-container {
            display: block;
            position: absolute;
            height: 100%;
            width: calc(100% - var(--visualizer-right-spacing));
            pointer-events: none;

            & > canvas {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        & > .module-using-canvas-horizontal-ruler-container {
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            // pointer-events: none;

            & > canvas {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        & > .module-using-canvas-canvas-container {
            display: block;
            position: absolute;
            height: 100%;
            width: calc(100% - var(--visualizer-right-spacing));
            cursor: text;
            overflow: hidden;

            & > canvas {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
            }

            & > div.selrange {
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background-color: rgba(255, 255, 255, 0.2);
                pointer-events: none;
            
                &[hidden] {
                    display: none;
                }
                
                & > div {
                    pointer-events: auto;
                }

                & > div.resize-handler-w {
                    position: absolute;
                    display: block;
                    top: 0;
                    left: -2px;
                    width: 4px;
                    height: 100%;
                    cursor: ew-resize;
                }

                & > div.resize-handler-e {
                    position: absolute;
                    display: block;
                    top: 0;
                    right: -2px;
                    width: 4px;
                    height: 100%;
                    cursor: ew-resize;
                }
            }
            & > div.fades {
                position: absolute;
                width: 100%;

                & > div.fadein-handler {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    cursor: col-resize;
                    transform: rotate(-135deg);
                    opacity: 0.35;

                    &:hover {
                        opacity: 1;
                    }

                    & > i {
                        margin: 0px;
                    }
                }

                & > div.fadeout-handler {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    cursor: col-resize;
                    transform: rotate(-45deg);
                    opacity: 0.35;

                    &:hover {
                        opacity: 1;
                    }

                    & > i {
                        margin: 0px;
                    }
                }

                & > div.fade-handler {
                    position: absolute;
                    display: flex;
                    top: 10px;
                    font-size: 12px;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 0px 4px;
                    margin-left: 5px;
                    border-radius: 3px;
                    opacity: 0.35;

                    &:hover {
                        opacity: 1;
                    }

                    & > i {
                        margin: auto;
                        transform: rotate(-90deg);
                    }

                    & > span {
                        margin-left: 6px;
                    }
                }
            }
        }
        & > div.channel-enable-overlay {
            display: flex;
            flex-direction: column;
            position: absolute;
            height: 100%;
            width: 100%;
            pointer-events: none;

            & > div {
                flex: 1 1 auto;
                position: relative;
                display: flex;
                width: 100%;
                align-items: center;
    
                &.disabled {
                    backdrop-filter: saturate(0);
                }
            }    
        }
        & > div.calculating-overlay {
            display: flex;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.2);

            &.error {
                color: var(--vscode-errorForeground);
            }

            & > div {
                display: flex;
                margin: auto;
                position: relative;
                flex-direction: column;

                & > vscode-progress-ring {
                    margin: auto auto 10px auto;
                }
                & > div {
                    margin: 0px auto auto auto;
                }
            }
        }
    }

    & > div.module-using-canvas-configuration > div.default-layout {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: calc(100% - 20px);
        padding: 0px 10px;
        overflow: auto;

        & > div {
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            & > input[type=number] {
                background-color: var(--vscode-settings-numberInputBackground);
                color: var(--vscode-settings-numberInputForeground);
                border: 1px solid var(--vscode-settings-numberInputBorder, transparent);
                border-radius: 2px;
                padding: 4px 9px;
                font-family: var(--vscode-font-family);
            }

            & > input[type=color] {
                background-color: var(--vscode-button-secondaryBackground);
                padding: 0px;
                border-width: 0px;
            }

            & vscode-text-field {
                width: 100%;
            }
        }
    }

    & > div.module-using-canvas-monitor {
        & > div.default-layout {
            position: absolute;
            display: flex;
            flex-direction: column;
            height: calc(100% - 20px);
            width: calc(100% - 20px);
            padding: 0px 10px;
            overflow: auto;
            font-family: var(--vscode-editor-font-family);
        }

        & > div.hover-tips {
            position: absolute;
            display: none;
            bottom: 0px;
            flex-direction: row;
            width: calc(100% - 20px);
            padding: 2px 10px;
            overflow: hidden;
            opacity: 0.5;
        }

        &:hover > div.hover-tips {
            display: flex;
        }
    }
    
}
