.output-container {
    flex: 0 0 40px;
    display: flex;
    position: relative;
    flex-direction: row;

    & .output-controls {
        flex: 0 0 300px;
        position: relative;
        display: flex;
        margin: auto;
        gap: 4px;
        padding: 4px;
        & > * {
            margin: auto 0px;
            font-size: 12px;
        }
        & .gain-input {
            flex: 0 0 50px;
        }
    }

    & .master-meter-container {
        flex: 1 1 auto;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    
        & > .meter-container {
            position: absolute;
            width: 100%;
        }
    }
}