.audio-editor-container .player-container {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    height: auto;
    align-items: center;
    padding: 10px 4px;

    & > span {
        align-self: center;

        &.time-input {
            position: absolute;
        }
    }

    & > span.editor-main-player-controls-container {
        flex: 1 1 auto;
        margin-left: 80px;
        position: relative;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* text-align: center; */

        & > span.editor-main-player-controls {
            flex: 1 1 auto;
            
            & > vscode-button {
                border-bottom: 1px transparent solid;
                border-radius: 0px;

                &.active {
                    border-bottom: 1px var(--vscode-panelTitle-activeBorder) solid;
                }

                &[disabled] {
                    cursor: unset;
                }

                & > span.codicon {
                    &.codicon-play {
                        color: var(--vscode-debugIcon-startForeground);
                    }
                    &.codicon-debug-stop {
                        color: var(--vscode-debugIcon-stopForeground);
                    }
                    &.codicon-debug-pause {
                        color: var(--vscode-debugIcon-pauseForeground);
                    }
                    &.codicon-debug-continue-small {
                        color: var(--vscode-debugIcon-continueForeground);
                    }
                    &.codicon-refresh {
                        color: var(--vscode-debugIcon-restartForeground);
                    }
                }
            }
            & > .ui.buttons {
                height: 30px;

                & > button.ui.button {
                    margin: 0;

                    &:last-child {
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                }
            }

            & > .menu {
                display: inline-flex;
                margin-top: 0;
                
                & > .audio-editor-device-selector {
                    display: inline-flex;
                    width: 300px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;

                    & > div:first-child {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    & > span.editor-add-component {
        flex: 0 0 320px;
        position: relative;
        display: flex;

        & > vscode-dropdown {
            width: 100%;
        }
    }
}
