.audio-editor-container div.editor-main-visualizer-component {
    & > div.waveform-configuration-container > div.waveform-channel-enabler {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        & > div {
            position: relative;
            display: block;
            text-align: center;
            margin: auto;

            & > vscode-button {
                position: relative;
                margin: auto;
                border-bottom: 1px transparent solid;
                border-radius: 0px;

                &.active {
                    border-bottom: 1px var(--vscode-panelTitle-activeBorder) solid;
                }
            }
        }
    }
}