#main-container {
    flex: 1 0 auto;
    display: flex;
    position: relative;

    & > .main-loading {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        gap: 20px;

        & > vscode-progress-ring {
            margin: auto;
        }
    }

    & > .main-loading-error {
        flex: 0 1 auto;
        margin: auto;
        display: flex;
    }

}